$bg-color:  #232129;
$bg-white: #ffffff;
$bg-primary: #6648e3;
$bg-primary-dark: #5739c2;
$color-white: #fff;
$color-dark: #2b2b2b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  background-image: url("../../../assets/images/Bg2.png");
  z-index: 0;
}
.body {
  width: 100vw;
  height: 100vh;
  background: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;



.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 97vh;
  gap: 13px;

  .chatleft {
    border-radius: 10px;
    position: relative;
    width: 78%;
    height: 100%;
    background: $bg-white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-bottom: 100px;

    .chatbox {
      width: 97%;
      height: 100%;
      padding: 10px;
      padding-bottom: 100px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $bg-primary;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: unset;
      }

      .stubg {
        z-index: 0;
        position: absolute;
        top: 50%;
        width: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
      }

      .user-message,
      .bot-message {
        position: relative;
        border-radius: 20px;
        background: rgba(43, 43, 43, 0.9);
        color: $color-white;
        width: 70%;
        word-wrap: break-word;
        display: flex;
        gap: 9px;
        align-items: center;
        justify-content: center;
        padding: 19px;
        z-index: 5;

        &.user-message {
          left: 0;
        }

        &.bot-message {
          right: 0;
          flex-direction: row-reverse;
          padding-bottom: 60px;
        }
      }

      .BotImg {
        position: absolute;
        left: -70px;
      }

      .userImage {
        position: absolute;
        right: -60px;
      }

      .likeRow {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        background: unset;
        bottom: 20px;
        left: 0;
        width: 100%;

        button {
          background: $bg-primary;
          color: $color-white;
          border: unset;
          width: 82px;
          height: 30px;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          cursor: pointer;

          &:active {
            background: $bg-primary-dark;
          }
        }

        .L {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          button {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $bg-primary;
          }
        }
      }
    }

    .submiter {
      position: absolute;
      width: 96%;
      bottom: 20px;

      input {
        width: 100%;
        height: 58px;
        border: unset;
        padding-left: 30px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        border-radius: 40px;
      }

      button {
        position: absolute;
        right: 10px;
        top: 10px;
        border: unset;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }


  .chatright {
    position: relative;
    border-radius: 20px;
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }
  .Profile {
    width: 100%;
    height: 10%;
    padding: 15px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    border-radius: 20px;
  }
  
  .chatHistory {
    width: 100%;
    height: 90%;
    padding: 20px 40px;
    background: #ffffff;
    position: relative;
    border-radius: 20px;
  }
  .PB {
    width: 30px;
    height: 30px;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #6648e3;
    cursor: pointer;
  }
  .PB:hover {
    background: #5739c2;
  }
  .PB img {
    width: 16px;
    height: 16px;
  }
  .btnparent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .profileN {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .BotImg {
    position: absolute;
    left: -70px;
  }
  .userImage {
    position: absolute;
    right: -60px;
  }
  .round{
    background: #6648e3;
    border: unset;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
  }
  .chatHistory button {
    background: #6648e3;
    border: unset;
    color: white;
  
    padding: 10px;
  }
  .chatHistory h3 {
    color: #2b2b2b;
    font-weight: 800;
    font-size: 24px;
  }
  .row {
    display: flex;
    width: 100%;
  
    justify-content: space-between;
    align-items: center;
  }
  .newChat {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 63px;
    border-radius: 30px !important;
    font-size: 17px;
    font-weight: 600;
  }
  .animated-word {
    opacity: 0;
  
  position: relative;
    display: inline-block;
    animation: fadeIn 0.5s forwards;
  }
  .bot-message span {
    white-space: pre-line;
  }
  
  @keyframes fadeIn {
    from {
      bottom: -10px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  }
}  