
<div class="finall" >
  <div class="animation-container" [ngClass]="{'Out': startFinalFormAnimation  }">
    <img class="StuLogo" src="../../../assets/img/stu.png" alt="Stu logo">
  </div>
  <div class="dn" [ngClass]="{'loaded': startFinalFormAnimation  }">
    <nav><img src="../../../assets/img/Navlogo.png" alt=""> <button routerLink="sign-in">დაწყება</button></nav>
    <header><h3> საქართველოს   ტექნუკური  უნივერსიტეტი </h3>  <img class="headerimg" src="../../../assets/img/HeaderLogo.png" alt="">  <img class="headerbg" src="../../../assets/img/Rectangle 2headerBg.png" alt=""></header>
  <main>
    <h2>თქვენი პირადი გზამკვლევი უნივერსიტეტის წარმატებისთვის: Chatbot AI, ყოველთვის აქ არის დასახმარებლად!</h2>
   <img src="../../../assets/img/Line 1Line (1).png" alt="">
  </main>
  <footer>
<div class="firstImgRow"><img src="../../../assets/img/footer1.png" alt=""><img class="middle" src="../../../assets/img/footer2.png" alt=""><img src="../../../assets/img/footer3.png" alt=""></div>
<div class="secondImgRow">
  <img src="../../../assets/img/footer-4.png" alt="">
</div>

  </footer>
  </div>
</div>